openai==1.59.5
httpx==0.27.2
requests==2.32.3
yt-dlp==2025.1.12
srt==3.5.1
genson==1.3.0
python-dotenv==1.0.1
tenacity==9.0.0
tiktoken==0.8.0
# Google API related libraries
google-auth==2.23.4
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.1.0
google-api-python-client==2.101.0
google_search_results==2.4.2

worldnewsapi==2.0.0

sounddevice==0.5.1
pydub==0.25.1
simpleaudio==1.0.4

# For thumbnail generation
pillow==10.2.0
# Must use NumPy 1.x for compatibility with OpenCV
numpy==1.26.4
opencv-python==4.9.0.80

# External system dependencies:
# sudo apt-get install ffmpeg libasound2-dev